[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment="JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"
Environment="CATALINA_PID=/home/tomcat/apache-tomcat-10.1.31/temp/tomcat.pid"
Environment="CATALINA_HOME=/home/tomcat/apache-tomcat-10.1.31"
Environment="CATALINA_BASE=/home/tomcat/apache-tomcat-10.1.31"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"
Environment="JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom"

ExecStart=/home/tomcat/apache-tomcat-10.1.31/bin/startup.sh
ExecStop=/home/tomcat/apache-tomcat-10.1.31/bin/shutdown.sh

User=tomcat
Group=tomcat
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
